<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <div class="row">
            <div class="col-lg-6">
                <!-- (ngSubmit)="analyzeImage(imageForm)" -->
                <form #imageForm="ngForm" autocomplete="off" (ngSubmit)="analyzeImage(imageForm)">

                    <div class="form-group">
                        <label for="imageURL" class="form-control">Imagen URL</label>
                        <br/>
                        <!-- (ngModel)="imageURL" -->
                        <input type="text" name="imageURL" id="imageURL" imageURL="ngModel" (ngModel)="imageURL" class="form-control" placeholder="Pegar URL aquí....">
                    </div>
                    <br/>
                    <div class="form-group">
                        <input type="submit" value="Analizar Imagen" class="btn btn-primary w-100">
                        <ngx-json-viewer [json]="analizedImageData" [expanded]="true" *ngIf="analizedImageData !== undefined"></ngx-json-viewer>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <img [src]="imageURLPreview" alt="" width="200px" height="200px">
            </div>
        </div>
    </div>
</div>